# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
dependency-reduced-pom.xml
release.properties

# Logs
*.log

# IntelliJ / Eclipse
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Playwright
playwright-report/
test-results/

# Misc
.vscode/
.env
*.tmp
